*{
     font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    height: 10vh;
}
nav{
    color: rgb(255, 255, 255);
    /* border: .2vh solid rgb(2, 2, 2); */
    padding: 1vh;
    display: flex;
    gap: 12vh;
    margin-bottom: 3.6vh;
}
nav img{
    width: 5vh;
    height: 5vh;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 10vh;
    text-decoration: none;
    font-weight: bold;
}
nav a{
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: coral;
}
/*nav button{
    border-radius: 40px;
    height: 2.5vh;
    width: 5vh;
    background-color: aliceblue;
    font-weight: bold;
}*/
h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    width: 100%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
#legende-photo {
    color: rgb(59, 55, 59);
    font-size: small;
    font-style: italic;
    margin-bottom: 4vh;
}
.seo {
    color: rgb(14, 14, 108);
    font-style: italic;
    font-weight: bold;
}

.neo {
    color: brown;
    font-style: italic;
    font-weight: bold;
}

