
/*
  <color name="Night" hex="#141414" r="20" g="20" b="20" />
  <color name="Anti-flash white" hex="#eef0f2" r="238" g="240" b="242" />
*/
*{
    font-family:"Poppins", 'Times New Roman', Times, serif;
}
main{
     color:#141414;
}
header{
    background-color:#141414;
}
nav{
    color:#eef0f2;
    /* border: .2vh solid rgb(2, 2, 2); */
    display:flex;
}
nav img{
    width: 5vh;
    height: 5vh;
}
nav ul{
    list-style:none;
    display:flex;
    gap: 10vh;
    text-decoration:none;
    font-weight:bold;
}
nav a{
    color:#eef0f2;
    text-decoration:none;
}

nav a:hover{
    color:coral;
}
/*nav button{
    border-radius: 40px;
    height: 2.5vh;
    width: 5vh;
    background-color: aliceblue;
    font-weight: bold;
}*/
.title {
    display:flex;
    color: #141414;
    font-weight:500;
    justify-content:center;
}
img {
    width: 100%;
}
.legende {
    color: rgb(67, 61, 67);
    font-size:small;
    font-style:italic;
    margin-bottom: 4vh;
}
.seo {
    color: rgb(156, 50, 11);
    font-style:italic;
    font-weight:bold;
}
.separator{
    margin-top: 3rem;
    height: .05rem;
    width: 100%;
    background-color: coral;
}


