* {
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}
body {
    background-color: whitesmoke;
    padding :  4.5rem 8%;
}
header {
    padding : 1.25rem 8%;
}
section {
    padding :  4.5rem 8%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-box {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
.logo {
    position: absolute;
    top: -5px;
    left: 0;
    color: black;
}
.dots {
    position: absolute;
    right: -8px;
    color: orangered;
    transition: color 2s ease-in;
}
.logo-box::after {
    content: "Dımıtrı B"; 
    transition: 0.5s; 
}
.logo-box:hover::after {
    content: "Dimitri B";
    color: dimgrey;
    transform:rotate(3deg);
}
.logo::before, .logo:hover::before {
    content: "";
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    padding: 0.6rem 1.5rem;
}
nav ul li a {
    text-decoration: none;
    color: rgb(136, 140, 153);
    transition: 0.3s;
    font-size: 1rem;
}
nav ul li a:hover {
        font-weight: bold;
        margin-left: 1rem;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 3px rgb(37, 32, 32);
}
.hd-btn {
    display: flex;
    justify-content: baseline;
    font-size: 10px;
    margin-left: 1rem;
    color: rgba(255, 68, 0, 0.253);
    background-color: whitesmoke;
	text-shadow: 3px 3px 3px rgba(255, 68, 0, 0.082);
    cursor: pointer;
    }
.hd-btn:hover {
        font-weight: bold;
        font-size: 12px;
        margin-left: 1rem;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 3px orangered;
        transform:rotate(-3deg);
    }
    .hero-header-home {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .hero-header-home .catch-media {
        position:relative;
        height: 300px;
        width: 590px;
        margin-left: 90px;
        border: solid 30px white;
        border-radius: 30px;
        box-sizing: border-box;
        box-shadow: 2px 2px coral;
        overflow: hidden;
    }
    .hero-header-home .catch-media iframe {
        position: absolute;
        width: 100%; 
        height: 100%; 
        border: none; 
    }
    .hero-header-home .catch-lines {
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    h1 {
        font-size: 40px;
    }
    span {
        color: orangered;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
    }